@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Cream: #F4F1EA;
    --sage: #8db87a;
    --dark-sage: #6b7b64;
    --Forest: #2c5130;
    --Deep-Moss: #1A3320;
    --Mint-Mist: #C9DFC2;
    --Gold: #C4A84A;
    --Terra: #C47A50;
    --light-gold: #E8D8A0;
    --dark: #0D2018;
   
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'monsterrat', sans-serif;
    background-color: var(--Forest);
    overflow-x: hidden;
    line-height: 1.6;
}

/* ===== NAVIGATION =====*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; 
    
   
}

/* ===== LOGO ===== */

.logo{
    max-width: 50%;
    flex: 1;
}
.logo a{
    font-family: 'Cormorant Garamond', serif;
    color: var(--Gold);  /* gold color from root variables */
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
    line-height: 1.1;
    width: auto;
    
}

/* logo tagline below the main logo text */

.logo a span{
    display: block;
    font-size: 0.9rem;
    color: var(--Gold);
    font-weight: 200;
    text-transform: capitalize;
    margin-top: 2px;
    
}

/* ===== NAV LINKS ===== */

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    
}
.nav-links a{
    color: var(--Gold);
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    font-weight: 200;
    transition: color 0.3s ease;
    position: relative;
    
}
.nav-links a.home{
    color: var(--sage);
    font-weight: 400;
    position: relative;
}
.nav-links a .home::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--sage);
}
.book{
    background-color:transparent;
    color: var(--dark);
    padding: 10px 15px;
    border-radius: none;
    border: 1px solid var(--sage);
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-left: 20px;
    transition: all 0.3s ease, color 0.3s ease;
}
.book:hover{
    background-color: transparent;
    color: var(--sage);
    border: 1px solid var(--Gold);
}
/* underline animation on hover */

.nav-links a::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--sage);
    transition: width 0.3s ease;
}
.nav-links a:hover::before{
    width: 100%;  /* expand underline to full width */
}
.nav-links a:hover{
    color: var(--sage);  /* change to sage green on hover */
}
.nav-links a.active {
    color: var(--sage);
    font-weight: 400;
    position: relative;
}
/* ===== HERO SECTION ===== */


.room-hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.room-hero img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.room-hero-text{
    font-family: playfair display, serif;
    position: absolute;
    top: 25%;
    left: 10%;
    line-height: 1.1em;
    color: var(--sage);
    text-align: start;
    z-index: 1;
    font-size: 3.5rem;
    text-transform: none;
}

.room-hero-subtext{
    display: block;
    position: absolute;
    top: 60%;
    left: 10%;
    color: var(--Mint-Mist);
    text-align: justify;
    z-index: 1;
    max-width: 400px;
    font-size: 1rem;
}
.room-hero-subtext a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--Gold);
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--Gold);
}
.room-hero-subtext a:hover{
    opacity: 0.8;
}
.room-title{
    font-family: none;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: .8;
    color: var(--Gold);
    margin-bottom: 1.7rem;
}
.hero-overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(26, 26, 26, 0.4);
    z-index: 0;
}

/* ===== ROOM SECTION ===== */

.Rooms{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 60px;
    margin: 20px;
   
}
.Rooms img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 4px;
    z-index: 0;
    position: relative;
   
}
.rooms-sect .price-tag{
    color: var(--Gold);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: var(--Deep-Moss);
    padding: 10px 20px;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
h3{
    font-family: playfair display, serif;
    font-size: 2.0rem;
    color: var(--Gold);
    text-transform: uppercase;
    font-weight: 400;
}
.Rooms img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.rooms-sect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    
}
.rooms-descs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px 50px;
    color: var(--sage);
    text-align: center;
    max-width:400px;
    margin-left:5%;
    
}
.rooms-sect span a {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--Gold);
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--Gold);
}
.arrow{
    margin-left: 10px;
}

.rooms-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px 50px;
    color: var(--sage);
    text-align: center;
    max-width: 600px;
    margin-left: 25%;
}
.room-secs{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
    
}
.bottom-nav{
    margin-top: 50px;
    background-color: var(--Deep-Moss);
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

   
}
.address, .contact, .quick-links, .social{
    color: var(--sage);
    justify-content: space-between;
    gap: 26px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 25px 20px;
    height: 400px;
    line-height: 3.5rem;
    margin: 0 auto;
}
.nav-link{
    list-style: none;

}
.nav-bar a{
    color: var(--sage);
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    font-weight: 200;
    transition: color 0.3s ease;
}
.address{
    border-right: 1px solid var(--dark-sage);
    line-height: 1.5rem;
}
.nav-label{
    margin-bottom: 20px;
  
}
.contact{
    border-right: 1px solid var(--dark-sage);
    line-height: 2.5rem;
}
.quick-links{
    border-right: 1px solid var(--dark-sage);
    
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 50px auto;
    width: fit-content;
}
.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 42px;
    color: var(--sage);
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease
}
.contact a:hover{
    color: var(--Gold);
    opacity: 1;
}
.quick-links a:hover{
    color: var(--Gold);
    opacity: 1;
}
.social a:hover{
    color: var(--Gold);
    opacity: 1;
}
footer{
    padding: 1rem 5%;
    color: var(--sage);
    background-color: var(--Deep-Moss);
    border-top: 1px solid var(--dark-sage); /* subtle top border separator */
    
}
.footer-bottom{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

/* copyright text */

.footer-p{
    font-size: 1.0rem;
    margin: 0;
}

/* privacy policy and terms links container */

.footer-links {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

/* privacy and terms links */
.footer-links a {
    font-size: 0.75rem;
    color: var(--sage);
    text-decoration: none;
    letter-spacing: 0.1em;

}

.footer-links a:hover {
    color: var(--Mint-Mist);
    opacity: 1;
}

/* --- Hamburger base (hidden on desktop) --- */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}
.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--Gold);
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {

    nav { 
        padding: 10px 20px; 
        position: fixed;
       background: rgba(13, 32, 24, 0.98);  
    }
    .hamburger { display: flex; }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        inset: 0;
        padding: 0px;
        background: var(--Deep-Moss);
        justify-content: center;
        align-items: center;
        gap: 30px;
        z-index: 1000;
        font-size: 3rem;
        font-weight: 600;
    }
    .nav-links.open { display: flex; }

    
    /* show hamburger on mobile */
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .book{
        border: 1px solid var(--sage);
        background: var(--sage);
       
        padding: 30px 50px;
    }
    
    .room-hero{
        height: 50vh;
    }
    .room-hero-text { 
        margin-top: 35px;
        font-size: 2.50rem; 
        
    }
    .room-title{
        margin-bottom: 20px;
    }
    .room-hero-subtext{
        margin-top: 0;
        font-size: 1.2rem;
    }
    .room-hero-subtext a{
        margin-top: 10px;
    }
    .Rooms { 
        padding: 30px; margin: 10px; 
    }
    .Rooms img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    
    .rooms-desc,
    .rooms-descs {
         
        padding: 30px 30px; 
        
    }
    .gallery-grid, .gallery-grid2{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        grid-template-rows: auto;
    }
    .nav-bar { 
        display: flex;
        flex-direction: column;
      
    }

    .contact-hero{
        height: 70vh;
    }
    .contact-hero-subtext{
        margin-top: 0;
    }
    .contact-hero-text{
        margin-bottom: 0;
        
    }
    .hero{
        min-height: 50vh;
    }
    .Book-sect{
        margin-left: 15%;
        margin-right: 15%;
       
        
    }
    .address, .contact, .social, .quick-links  {
       
        height: auto;
    }
    .nav-label{
        color: var(--Gold);
         font-size: 1rem;
    }
    .contact a{
         font-size: 1rem;
    }
    .nav-text{
        font-size: 1.2rem;
    }
    .quick-links a{
        font-size: 1.2rem;
        gap: 20px;
    }
    footer{
        border-top: 1px solid var(--sage);
    }
}


@media (max-width: 768px) {

    /* NAV */
    nav { 
        padding: 14px 24px; 
        position: fixed;
       background: rgba(13, 32, 24, 0.98);  
    }
    

    .hamburger { 
        display: flex; 
        padding: 10px;
        transition: all 0.3s ease;
    }
    

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        inset: 0;
        background: var(--Deep-Moss);
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 1000;
    }
    .nav-links a{
        padding: 20px;
    }
    .nav-links.open { display: flex; }

    
    /* show hamburger on mobile */
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .logo a {
        font-size: 1.1rem;
    }

    .logo a span {
        font-size: 0.58rem;
    }


    /* HERO TEXT — fix subtext alignment */
    .room-hero-text {
        font-size: 1rem;
        top: 30%;
        left: 5%;
    }
    .room-title{
        font-size: 10px;
    }

    .room-hero{
        height: 60vh;
    }
    .room-hero-subtext {
        top: 60%;
        left: 5%;
        max-width: 88%;
        font-size: 0.85rem;
        text-align: left; /* fixes the uneven justify spacing */
    }
    .room-hero-subtext a{
        margin-top: 5%;
    }

    /* ROOMS — stack to single column */
    .Rooms {
         
        padding: 20px 15px; margin: 5px; 
        
    }

    .Rooms img {
        height: 45vh; 
    }

    .rooms-sect, .about-sect { 
        grid-template-columns: 1fr;
        background-color: var(--sage);
        padding: 10px;
        font-size: 1.3rem;
    }

    .rooms-desc,
    .rooms-descs, .about-sub-desc, .about-sub-descs {
        max-width: 100%;
        margin: 0;
        padding: 10px 20px;
        text-align: left;
        color: var(--Forest);
    }
    .about-desc h3, .about-descs h3{
        max-width: 100%;
        margin: 0;
        padding: 10px 20px;
        text-align: left;
        color: var(--Forest);
    }
    .about-p{
        max-width: 100%;
        margin: 0;
        padding: 10px 20px;
        text-align: left;
        color: var(--Forest);
    }
    h3{
        color: var(--light-gold);
    }
    .rooms-sect span a, .about-descs a{
        color: var(--light-gold);
        border: 1px solid var(--light-gold);
    }
    .rooms-sect .price-tag{
        color: var(--light-gold);
    }

    /* keeps image above text on alternate sections */
    .rooms-descs, .about-desc{ 
        order: 2; 
    }

    .contact-hero{
        height: 100vh;
    }

    .Contact input[type="button"] {
        max-width: 60%;
    }
    .contact-hero-subtext{
        font-size: 1.1rem;
        margin-top: 10px;
    }
    .contact-hero-text{
        margin-bottom: 0;
    }
    .hero{
        height: 100vh;
    }
    .Book-sect{
       
       
        margin-left: 15%;
        margin-right: 15%;
    }
    .btn{
        max-width: 50%;
    }
    
    .address .contact .quick-links .social{
        padding: 32px 28px;
        text-align: center;
    }
    .nav-label{
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
        margin: 0 0 12px;
        font-weight: 500;
        color: var(--Mint-Mist);
    }
    .nav-text{
        font-size: 1.1rem;
        line-height: 1.8;
        margin: 0;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 6px;
    }
    .gallery-grid, .gallery-grid2{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        grid-template-rows: auto;
    }
    /* BOTTOM NAV — stack to single column */
    .bottom-nav{
        text-align: center;
        padding: 0 0  80px;
       
    }
    .address .contact .quick-links .social{

        padding: 22px 24px;
        text-align: center;
        border-right: none;
    }
    .nav-label{
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
        margin: 0 0 12px;
        font-weight: 500;
        color: var(--Gold);
    }
    .address{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 8px;
       
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 8px;
    }
    .quick-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 8px;
    }
    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 8px;
    }
    
    /* FOOTER */
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }
    .footer-links {
         margin-left: 0; 
        }
}
